# Capstone 3: Yelp's Cleanest Hotels

When users create reviews on Yelp there are multiple factors that go into their ranking. People priortize different factors. Whether the hotel is close to restaurants/shopping, does it have breakfast, does it have a restaurant, how far it is from the airport.

In this project we will sort through the user reviews and use natural language processing to find the highest ranked hotels that prioritize cleanliness in their reviews.

## Import and clean the data

In [27]:
import pandas as pd
import numpy as np

In [37]:
reviews = pd.read_csv('tripadvisor_hotel_reviews.csv')
reviews.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [50]:
reviews.isna().sum()

Review            0
Rating            0
Excellent         0
Satisfactory      0
Unsatisfactory    0
dtype: int64

To be able to describe these ratings more aptly we will add in 3 definitions. Excellent ratings (5), satisfactory ratings (4's and 3's), and unsatisfactory ratings (2's and 1's).

In [40]:
#Create Columns for Excellent, Satisfactory, and Unsatisfactory ratings

reviews['Excellent'] = np.where(reviews['Rating'] == 5, 1, 0)
reviews['Satisfactory'] = np.where((reviews['Rating'] == 4) | (reviews['Rating'] == 3) , 1, 0)
reviews['Unsatisfactory'] = np.where((reviews['Rating'] == 2) | (reviews['Rating'] == 1) , 1, 0)

In [41]:
reviews.head()

,Review,Rating,Excellent,Satisfactory,Unsatisfactory
0,nice hotel expensive parking got good deal sta...,4,0,1,0
1,ok nothing special charge diamond member hilto...,2,0,0,1
2,nice rooms not 4* experience hotel monaco seat...,3,0,1,0
3,"unique, great stay, wonderful time hotel monac...",5,1,0,0
4,"great stay great stay, went seahawk game aweso...",5,1,0,0

In [51]:
excellentReviews=reviews.Excellent.sum()
satisfactoryReviews= reviews.Satisfactory.sum()
unsatisfactoryReviews = reviews.Unsatisfactory.sum()
allReviews = len(reviews)

#Double check assignments were done properly with simple T/F test
excellentReviews + satisfactoryReviews + unsatisfactoryReviews == allReviews

True

In [49]:
print('The percentage of excellent reviews is', "{0:.0%}".format(excellentReviews/allReviews) )
print('The percentage of satisfactory reviews is', "{0:.0%}".format(satisfactoryReviews/allReviews) )
print('The percentage of unsatisfactory reviews is', "{0:.0%}".format(unsatisfactoryReviews/allReviews) )

The percentage of excellent reviews is 44%
The percentage of satisfactory reviews is 40%
The percentage of unsatisfactory reviews is 16%

## Beginning Natural Language Processing

In [ ]:
import